.impressum-ueberschrift{
	position: absolute;
	top: 10%;
	font-size: 100%;
	text-decoration: underline; 
	font-weight: bold;
}

.anschrift{
	margin-top: 12%;
	float: left;
}

@media(max-width:414px){
	.anschrift{
	margin-top: 40%;
	}	
}

.projekt {
	float: right;
	margin-top: 12%;
}

#impressum-wrapper {
	width: 80%;
	margin: 1% auto 1% auto;
	
}

@media(max-width:414px){
	.projekt{
	margin-top: 10px;
	float: left;
	padding-bottom: 50%;
	}	
}


