.footer {
  padding: 20px 0;
  background-color: #fff;
  color: #4b4c4d;
}

.footer ul {     /*Für Impressum etc.*/
  list-style: none;
  line-height: 2.0;
  font-size: 14px;
}
.footer .social_media{  /*Socila Media Text mit Icon*/
	float: left;
	display: block;
	position: absolute;
	left: 10px;
	}
	
.footer .list-socmed { /*Social Media Text*/
  margin-right: 10px;
  float: left;
  
}
@media (max-width:414px){
	.footer .list-socmed{
	float: left;
	margin-left: 50px;
}
}
.footer ul a {   /*Listenlinks*/
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}

.footer .copyright {  /*Copyright Zeichen*/
  margin-top: 1px;
  margin-bottom: 0;
  font-size: 13px;
  opacity: 0.6;
  
}

.footer .footer-content{  /*Footerinhat Impressum etc.*/
	float: right;
	display: block;
	position: absolute;
	right: 10px;
	margin-bottom: 20px;}
	
@media (max-width:414px){
	.footer .footer-content{
	width: 80%;
	position: absolute;
	margin-left: 50px;
	margin-top: 40%;
}
}	

