.about-ueberschrift{
	/*statt die Position absolut zu setzen ist es sauberer wenn man dem element einen Margin gibt*/
	margin-top: 15vh;
	top: 10%;
	font-size: 100%;
	text-decoration: underline; 
	font-weight: bold;
}

.about{
	/*margin-top: 12%;*/
	float: left;
}
@media only screen and (max-width: 800px){
	.about{
	margin-top: 40%;
	}	
}

#about-wrapper {
	width: 80%;
	margin: 1% auto 1% auto;
	padding-bottom: 22%;
}


