.about-ueberschrift{   
	margin-top: 15vh;   /*margin-top, damit die Überschrift nicht untemr Header ist*/
	font-size: 100%;
	text-decoration: underline; 
	font-weight: bold;
}

#about-wrapper {
	display: flex;
	flex-direction: column; /*Anordung untereinander*/
	width: 80%;
	margin: 1% auto 1% auto;
	padding-bottom: 14%; /*padding-bottom, weil sonst der footer so weit oben hängt*/
}


