.impressum-ueberschrift{
	margin-top: 15vh;
	font-size: 100%;
	text-decoration: underline; 
	font-weight: bold;
}

#impressum-wrapper {
	display: flex;
	flex-direction: row; /*Anordung nebeneinander*/
	width: 80%;
	margin: 1% auto 1% auto;
	justify-content: space-around;
}
@media only screen and (max-width: 800px){
	#impressum-wrapper {
		display:block;   /*Anordung untereinander*/
	}	
}

.anschrift{
	margin-top: 18vh;
}

.projekt{
	margin-top: 18vh;
	margin-bottom: 5vh;
}