.kontaktsheet-ueberschrift{
	font-size: 200%;
	text-decoration: underline; 
	font-weight: bold;
}

#kontaktsheet-wrapper {
	display: flex;
	flex-direction: row; /*Anordung nebeneinander*/
	width: 80%;
	margin: 1% auto 1% auto;
	justify-content: space-around;
	margin-top: 15vh;
	margin-bottom: 15vh;
}
@media only screen and (max-width: 800px){
	#kontaktsheet-wrapper {
		display:block;     /*Anordung untereinander*/
	}	
}

.kontaktsheet{
	display: flex;
	flex-direction: column;
	flex-flow: row-wrap;
}

.expansion{
	display: flex;
	flex-direction: column;
	flex-flow: row-wrap;
	margin-top: 8%;
}

