.kontaktsheet-ueberschrift{
	font-size: 200%;
	text-decoration: underline; 
	font-weight: bold;
}

.formular-ueberschrift{
	font-weight: bold;
	padding-bottom: 20px;
}

#kontaktsheet-wrapper {
	display: flex;
	flex-direction: row; /*Anordung nebeneinander*/
	margin: 10vh;
	padding: 10vh;
	justify-content: space-around;
	
	
}
@media only screen and (max-width: 800px){
	#kontaktsheet-wrapper {
		display:grid;     /*Anordung untereinander*/
	}	
}

.kontaktsheet{
	display: flex;
	flex-direction: column;
	flex-flow: row-wrap;
}

.expansion{
	display: flex;
	flex-direction: column;
	flex-flow: row-wrap;
}

