.kontaktsheet-ueberschrift{
	/*statt die Position absolut zu setzen ist es sauberer wenn man dem element einen Margin gibt*/
	margin-top: 15vh;
	top: 10%;
	font-size: 100%;
	text-decoration: underline; 
	font-weight: bold;
}

.kontaktsheet{
	/*margin-top: 12%;*/
	float: left;
}
@media(max-width:414px){
	.kontaktsheet{
	margin-top: 40%;
	}	
}

#kontaktsheet-wrapper {
	width: 80%;
	margin: 1% auto 1% auto;
	
}

#kontaktsheet-infotext{
	padding-top: 20px;
	font-weight: bold;
}

.expansion{
	float: right;
	list-style: none;
	padding-bottom: 22%;
	
}


