html {
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 171, 65);
    /*text-shadow: 2px 2px 4px black;*/
    max-width: 100%; /*UNBEDINT Für handy anpassen*/
}
main {
  margin: 0 10%; /*muss für kleine screens angepasst werden*/
}

hr {
  margin: 50px 0;
    color: rgb(53, 171, 65);
}

/* Darkmode als Feature bei zu viel Zeit*/

/* header Position und Farbe */

body {
  /*background-image: url("images/forest_bg.jpg");*/
  /*background-image: url("images/background2.webp");*/
  /*background-image: url("images/background3.jpg");*/
  background-color: white;
  color: rgb(53, 171, 65);
  margin: 0;
}
  